* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
background: rgb(224, 149, 149);
padding:50px;
}
main {
background: rgb(147, 215, 233);
padding: 50px;
}
footer {
background: rgba(4, 4, 131, 0.953);
padding: 50px
}
H1 {
    border: rgba(0, 0, 255, 0.37) dotted; border-radius: 10px; text-align: center; background-color:aliceblue;
}
h2 {
    padding-left: 3%
}
h3 {
    border: rgba(22, 22, 159, 0.651); 
    border-block-end-width: 8px; 
    border-radius: 10px; 
    text-align: center;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; 
}
section {
    border: 5px solid black;
    border-radius: 50px;
    margin: 10px;
}
.block-item {
    display: block;
    background: yellow;
    border-radius: 40px;
}
.inline-item {
    display: inline;
    background: cyan;
    padding: 20px;
}
.inline-block-item {
    display: inline-block;
    background: magenta;
    width: 100px;
}
img {
    border: 1000px;
    max-width:100%;
}

.center-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div {
    border: 2px solid white;
    height: 100px;
    margin: 10px;
}

.white-border {
    border: 2px solid white;
    background-color: yellow;
    border-radius: 40px;
}
div {
    display: flex;
    justify-content: space-evenly;
}
.image2 {
    height:435px;
}
.image3 {
    height: 240px;
}
ul {
    text-align:center
}
.link {
    border: 3px green solid; 
    background-color: white; 
    border-radius: 10px
}
.main-background {
    border: 6px dotted white;
}
.image-pg3 {
    border: 5px pink solid; 
    border-radius: 20px; 
    height: 300px;
}