* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
background: rgb(224, 149, 149);
padding:50px;
}
main {
background: rgb(147, 215, 233);
padding: 50px;
}
footer {
background: rgba(4, 4, 131, 0.953);
padding: 50px
}
h2 {
    padding-left: 3%
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; 
}
section {
    border: 5px solid black;
    border-radius: 50px;
    margin: 10px;
}
.block-item {
    display: block;
    background: yellow;
}
.inline-item {
    display: inline;
    background: cyan;
    padding: 20px;
}
.inline-block-item {
    display: inline-block;
    background: magenta;
    width: 100px;
}
img {
    border: 1000px
}

.center-img{
    display: flex;
    justify-content: center;
    align-items: center;
}